
@{
    ViewData["Title"] = "ReportList";
    //Layout = "~/Views/Shared/_CrmLayout.cshtml";
   
    if (ViewBag.isUserAdmin)
    {
        Layout = "~/Views/Shared/_CrmLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>ReportList</h1>

<a href="/Report/ExcelStatic/" class=" btn btn-outline-warning">Personeller Excel Listesi</a>
<br />
<a href="/Report/DynamicExcel/" class=" btn btn-outline-info">Müşteriler Excel Listesi</a>
<br />
<a href="/Report/StaticPdfReport/" class=" btn btn-outline-success">PDF Statik Listesi</a>


