@{
	Layout = null;
}

<div class="container" style="display: flex; justify-content: center;">
	<div class="blankpage-form-field" style="display: block; background-color: #edf1f1; align-items: center; justify-content: center; padding: 25px; margin: 50px;">
		<div style="display: flex; justify-content: center;">
			<img src="~/img/logo.png" style="width:55px" alt="Arkman Awed" aria-roledescription="logo">
		</div>
		<div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
			<div class="form-group">
				<p>
					The email has been sent. Please check your email to reset your password.
				</p>
			</div>
		</div>
	</div>
</div>












