@{
	Layout = null;
}



<div class="container" style="display: flex; justify-content: center;">
	<div class="blankpage-form-field" style="display: block; background-color: #f4f9f9; align-items: center; justify-content: center; padding: 75px; margin: 50px;">
		<div style="display: flex; justify-content: center;">
			
		</div>
		<div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
			<div class="form-group">
				<p style="font-size: x-large;">
					Password has been reset.
				</p>
				<p style="display:flex; justify-content:center; font-size: x-large;">
					Please <button type="button" class="btn" style="margin-left: 5px; margin-left: 5px; background: #6896ff; border: none; border-radius: 2px;">
						<a href="/Login/Index/" class="btn btn-primary" style="color: black; text-decoration: none; font-size: large;">Login</a>

					</button>
				</p>
			</div>
		</div>
	</div>
</div>

